@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;900&display=swap");
body {
  font-family: "Roboto", sans-serif !important;
}
.App::-webkit-scrollbar {
  color: rgba(0, 0, 0, 0);
}
.btn-gen {
  color: rgba(255, 255, 255, 0.6);
  background: rgba(0, 0, 0, 0);
  border-radius: 30;
}

.btn-gen:hover {
  scale: 1.1;
  color: rgba(255, 255, 255, 0.6);
  background: rgba(0, 0, 0, 0);
  border-radius: 30;
}
.gradient-background {
  animation: gradient-animation 30s ease infinite;
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.menu-citta {
  padding-block: 1rem;
  background-color: rgba(0, 0, 0, 0);
  border: none;
  border-radius: 30px !important;
  border-bottom: 1px solid #464646;
  cursor: pointer;
}
.menu-citta:hover {
  scale: 1.01;
  border-left: 1px solid #464646;
  border-right: 1px solid #464646;
}
.FetchMeteo {
  font-weight: bolder;
  font-size: 1.5em;
}
.card {
  background-color: rgba(0, 0, 0, 0);
  border: none;
  color: rgba(0, 0, 0, 0.631);
}
.card-header {
  background-color: rgba(0, 0, 0, 0);
  border: none;
}
.card-body {
  margin-bottom: 3rem;
}
.card-title {
  font-size: 1em;
}
.card-footer {
  background-color: rgba(0, 0, 0, 0);
  border: none;
}
.card-img {
  width: 150px;
}

.forecast-box::-webkit-scrollbar {
  color: rgba(0, 0, 0, 0);
}
